[bumpversion]
current_version = 0.0.1

[bumpversion:file:README.rst]
search = v{current_version}.
replace = {new_version}

[bumpversion:file:__init__.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'

